body, html {
            background-color: #1b2838;
            margin: 0;
            padding: 0;
        }

        p {
            color: #bfbdbb;
            font-family: Motiva Sans, Arial, sans-serif;
        }

        .navigatie_balk {
            background-color: #171d25;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
        }

        .Knoppen_navigatie {
            background: none;
            border: none;
        }

        .Knoppen_navigatie {
            color: #c3c1be;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            font-family: "Motiva Sans";
        }

        .Knoppen_navigatie:hover {
            color: white;
        }

        .Logo_nav {
            height: 40px;
            width: 40px;
            background-color: #c1bfbc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            flex-shrink: 0;
        }

        .Tekst_navigatie {
            display: flex;
            gap: 20px;
            justify-content: center;
            flex: 1;
        }

        .Logo_nav:hover {
            background-color: lightgray;
        }

        .Steam_ID_invullen {
            margin-top: 20px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            background-color: #171d25;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }

        .Steam_ID_invullen input, .Steam_ID_invullen button {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 4px;

            display: block;
        }


        .Steam_ID_invullen input {
            background-color: #3c4048;
            color: white;


        }

        .Steam_ID_invullen button {
            background-color: #1a9efd;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .Steam_ID_invullen button:hover {
            background-color: #1484d2;
        }

        .stats-container {
            margin-top: 20px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            background-color: #171d25;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            color: #bfbdbb;
            margin-bottom: 20px;
        }

        .error {
            color: red;
            font-weight: bold;
        }
        .Gegevens_tekst {
            color: #bfbdbb;
        }
        .Homepage_Info {
            margin-top: 20px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            background-color: #171d25;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }