<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home 1</title>
  <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
  <link rel="stylesheet" href="../static/Styles/Community.css">

</head>
<body>
 <div class = "navigatie_balk">
   <div class="Tekst_navigatie">
        <a href="{{ url_for('Vrienden') }}" class = "Knoppen_navigatie">VRIENDEN</a>
        <a href="{{ url_for('Community') }}" class = "Knoppen_navigatie" style="border-bottom: 3px solid #1a9efd; color: #1a9dfb">COMMUNITY</a>
        <a href="{{ url_for('Stats') }}" class = "Knoppen_navigatie">STATS</a>
        <a href="{{ url_for('Gezondheid') }}" class = "Knoppen_navigatie">GEZONDHEID</a>
     </div>
    <div class="Logo_nav">

        <a href="{{ url_for('home') }}" class = "Logo_nav"></a>
    </div>


 </div>
  <div class="Homepage_Info" >
    <P>Welkom bij de Communitypage.</P>
  </div>

<div>
  <div class="Blokken_artikelen" >

      <div class="Blok">
        <a href="https://gamer.nl/achtergrond/achtergrond/achtergrond/het-nieuws-van-the-game-awards-2024-verzameld/" target="_blank" style="text-decoration: none;">

          <img src="../static/Afbeeldingen/GOTJ.png" alt="Game of the Year" class="Afbeelding">
          <p class = "titel">
            Het nieuws van The Game Awards 2024 verzameld - The Witcher 4, Elden Ring en meer
          </p>
          <p class = tekstcom>
              The Game Awards van 2024 werden vannacht gehouden.
              Allerlei games zijn in de prijzen gevallen,
              er is meer naar buiten gebracht over projecten waar we
              al van wisten en er zijn verschillende nieuwe projecten aangekondigd.
              Terwijl we ons verheugen op The Witcher 4, Elden Ring: Nightreign
              en een nieuw IP van Naughty Dog hebben we hier het nieuws
              van de avond op een rij gezet, zodat jij de presentatie
              kunt (her)beleven!
          </p>
        </a>
      </div>

      <div class="Blok">
        <a href="https://gamer.nl/achtergrond/opinie/favorieten-van-de-redactie/cyberpunk-2077-was-goed-tegen-de-slapeloze-nachten/" target="_blank" style="text-decoration: none;">
          <img src="../static/Afbeeldingen/CP.png" alt="Game of the Year" class="Afbeelding">

          <p class = "titel">
            Het nieuws van The Game Awards 2024 verzameld - The Witcher 4, Elden Ring en meer
          </p>

          <p class = tekstcom>
              In deze rubriek vertellen Gamer.nl-redacteuren over
            de game die het afgelopen jaar de meeste indruk op ze
            heeft gemaakt. Vandaag: Lars met Cyberpunk 2077.
          </p>
        </a>
      </div>

      <div class="Blok">
        <a href="https://gamer.nl/achtergrond/achtergrond/achtergrond/het-nieuws-van-the-game-awards-2024-verzameld/" target="_blank" style="text-decoration: none;">
          <img src="../static/Afbeeldingen/BM.png" alt="Game of the Year" class="Afbeelding">

          <p class = "titel">
            Het nieuws van The Game Awards 2024 verzameld - The Witcher 4, Elden Ring en meer
          </p>

          <p class = tekstcom>
              Met onder andere Batman en Metro zat het afgelopen seizoe
            n vol met uitstekende virtualrealitygames.
            We zetten de vijf meest noemenswaardige titels van
            het najaar op een rij.
          </p>
        </a>
      </div>


</div>
<div class="Blokken_artikelen">
    <!-- Tweede rij -->


  <div class="Blok">
        <a href="https://gamer.nl/achtergrond/achtergrond/achtergrond/marvel-rivals-is-toch-best-leuk-afgelopen-weekend/" target="_blank" style="text-decoration: none;">

          <img src="../static/Afbeeldingen/MR.png" alt="Game of the Year" class="Afbeelding">
          <p class = "titel">
            Eindsprint naar de GOTY's - Afgelopen Weekend
          </p>
          <p class = tekstcom>
              Vorige week was onze eerste indruk van Marvel Rivals niet al te
            aangenaam. Dat is inmiddels in positieve zin veranderd. Het spel heeft
            veel unieke interacties dat zorgt voor een chaotische, maar leuke, game-ervaring.
            Daarnaast zijn sommige redactieleden volop bezig met de nieuwe Indiana Jones-game.
            Wat heb jij gespeeld afgelopen weekend?
          </p>
        </a>
      </div>

      <div class="Blok">
        <a href="https://gamer.nl/achtergrond/achtergrond/achtergrond/nintendo-switch-2-alle-geruchten-en-feiten-op-een-rij/" target="_blank" style="text-decoration: none;">
          <img src="../static/Afbeeldingen/NS.png" alt="Game of the Year" class="Afbeelding">

          <p class = "titel">
            Nintendo Switch 2: alle geruchten en feiten op een rij
          </p>

          <p class = tekstcom>
              De Nintendo Switch verscheen alweer zeven jaar geleden en volgens recente
            geruchten lijkt het erop dat we bijna aan het einde van de levenscyclus zijn.
            Er zijn de afgelopen jaren veel geruchten geweest over een ‘Nintendo Switch Pro’
            of een Nintendo Switch 2. Hieronder houden we alle geruchten en feiten over de
            releasedatum, prijs, hardware en games bij.
          </p>
        </a>
      </div>

      <div class="Blok">
        <a href="https://gamer.nl/nieuws/playstation/ps5/game-industrie-heeft-volgende-generatie-plek-voor-maar-een-console-naast-switch-2/" target="_blank" style="text-decoration: none;">
          <img src="../static/Afbeeldingen/PS5.png" alt="Game of the Year" class="Afbeelding">

          <p class = "titel">
            'Game-industrie heeft volgende generatie plek voor maar één console naast Switch 2'
          </p>

          <p class = tekstcom>
              Volgens marktonderzoeksbureau DFC Intelligence is er volgende generatie maar ruimte
            voor één succesvolle gameconsole naast die van Nintendo.
          </p>
        </a>
      </div>


</div>
  </div>
</div>

</body>
</html>

