<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Steam</title>
  <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
  <link rel="stylesheet" href="../static/Styles/Home.css">

</head>
<body>
 <div class = "navigatie_balk">
   <div class="Tekst_navigatie">
        <a href="{{ url_for('Vrienden') }}" class = "Knoppen_navigatie">VRIENDEN</a>
        <a href="{{ url_for('Community') }}" class = "Knoppen_navigatie">COMMUNITY</a>
        <a href="{{ url_for('Stats') }}" class = "Knoppen_navigatie">STATS</a>
        <a href="{{ url_for('Gezondheid') }}" class = "Knoppen_navigatie">GEZONDHEID</a>
     </div>
    <div class="Logo_nav">

        <a href="{{ url_for('home') }}" class = "Logo_nav" style=" background-color: #1a9dfb"></a>
    </div>
 </div>
<div class="Homepage_Info">
  <P>Welkom bij de Homepage. Ga naar de <a href="{{ url_for('Stats') }}" class = "Knoppen_navigatie">STATS</a> page als je je gegevens wilt zien</P>
</div>

</body>
</html>

