<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vrienden Steam</title>
  <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
  <link rel="stylesheet" href="../static/Styles/Vrienden.css">



</head>
<body>
 <div class = "navigatie_balk">
   <div class="Tekst_navigatie">
        <a href="{{ url_for('Vrienden') }}" class="Knoppen_navigatie" style="border-bottom: 3px solid #1a9efd; color: #1a9dfb">VRIENDEN</a>
        <a href="{{ url_for('Community') }}" class = "Knoppen_navigatie">COMMUNITY</a>
        <a href="{{ url_for('Stats') }}" class = "Knoppen_navigatie">STATS</a>
        <a href="{{ url_for('Gezondheid') }}" class = "Knoppen_navigatie">GEZONDHEID</a>
     </div>
    <div class="Logo_nav">

        <a href="{{ url_for('home') }}" class = "Logo_nav"></a>
    </div>


 </div>
    <div class="Homepage_Info">
      <P>Welkom bij de vriendenpage. Bekijk hier de stats van je vrienden.</P>
    </div>
</body>
</html>

